﻿@model IEnumerable<ServerlessArchitecture.Core.Model.Player>

@{
    ViewData["Title"] = "Index";
}

<h4>Index</h4>

<p>
    @Html.ActionLink("Create", "AddPlayer")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HitPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HitPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdatePlayer", new { id=item.Id}) |
                @Html.ActionLink("Details", "GetPlayer", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeletePlayer", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
