﻿@model IEnumerable<ServerlessArchitecture.Core.Model.Location>

@{
    ViewData["Title"] = "Index";
}

<h4>Index</h4>

<p>
    @Html.ActionLink("Create", "AddLocation")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateLocation", new { id=item.Id }) |
                @Html.ActionLink("Details", "GetLocation", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteLocation", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
